<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  
  <add key="API_CRYPTONATOR" value="https://api.cryptonator.com/api/" />
  <add key="API_SHRIMPY" value="https://dev-api.shrimpy.io/v1/exchanges/bittrex/assets" />
  <add key="API_BITCOINFEES" value="https://bitcoinfees.earn.com/api/v1/fees/"/>
  
</appSettings>
